body{
    font-family: Arial, sans-serif;
    background-color: #f6f5f8;
    width:100%;
    height:100%;
}

.conteudo-center{
    width: 60%;
    height: 300px;
    float: left;
    background-color: aqua;
}
.conteudo-left{
width: 20%;
height: 300px;
float: left;
background-color: #333;
}
.conteudo-right{
    width: 20%;
    height: 300px;
    float: right;
    background-color: #db0d0d;
    }
.footer{
    width: 100%;
    height: 100px;
    float: left;
    background-color: #2629d8;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
