<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Aplicação Web</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <h1>Minha Aplicação Web</h1>
        <p>Esta é uma aplicação web.</p>
        <p><a href="index1.html">cadastro</a></p>
    </div>
    <div class="container2">
        <h1>Minha Aplicação Web</h1>
        <p>Esta é uma aplicação web.</p>
        <p><a href="index1.html">cadastro</a></p>
    </div>
    <img src="./626af17e37014a34e98e8b02_robô IA.jpg" alt="">
</body>
</html>
