body{
    display: flex;
    background-image: url('./SIGNOIMAGENS/principal.jpg');
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cont_principal{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 1000px;
    border-radius: 10px;

}
header{
    text-align: center;
    border-radius: 10px;
    font: italic;
    background-color: rgb(129, 201, 243);
    width: 1000px;
    height: 100px;
    margin: 10px;
}
.cont_itens{
    text-align: center;
    font:'Arial';
    font-weight: bold;
    font-size: 16px;
}
h1{
color: rgb(1, 22, 22);
}